*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(185, 180, 180);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
  background-color: rgb(66, 65, 65);
  height: 80px;
  color:#fff;
  text-align: center;
  font-size: 24px;
  padding-top: 22px;
  letter-spacing: 6px;
  margin-bottom: 22px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #e6e4e4;
  padding: 32px;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 0.50rem;
}

.form-group {
  margin-bottom: 0.95rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-textarea {
  height: 100px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
.delete-button,
.add-button,
.preview-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem; 
  width: 100%;
}
.delete-button{
  background-color: red;
}
.delete-button:hover{
  background-color: rgb(218, 18, 18);
}
.add-button:hover {
  background-color: #0056b3;
}
.preview-button{
  background-color: rgb(29, 204, 29);
}
/* CVAccount component */
.cv-account {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: absolute;
  width: 540px;
  height: 80vh;
  top: 20px;
  z-index: 100;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 2200px;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.personal-info {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.personal-info-content {
  display: flex;
  align-items: center;
}

.text-section {
  flex: 1;
}

.photo-section {
  margin-left: 20px; 
}

img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

p {
  margin: 5px 0;
}

.add-button, .delete-button, .preview-button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

.add-button:hover, .delete-button:hover, .preview-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #da190b;
}
.custom-btn {
  padding: 10px 20px;
  margin-right: 10px; 
  background-color: #007bff; 
  color: #fff;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.custom-btn:hover {
  background-color: #0056b3; 
}
