*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(185, 180, 180);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
  background-color: rgb(66, 65, 65);
  height: 80px;
  color:#fff;
  text-align: center;
  font-size: 24px;
  padding-top: 22px;
  letter-spacing: 6px;
  margin-bottom: 22px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #e6e4e4;
  padding: 50px;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 0.95rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-textarea {
  height: 100px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
